html,
body,
#app {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* 일요일 날짜 빨간색 */
.fc-day-sun a {
  color: red;
  text-decoration: none;
}

/* 토요일 날짜 파란색 */
.fc-day-sat a {
  color: blue;
  text-decoration: none;
}

.custom-add-icon {
  content: "@/assets/add_todo.png";
}